__pycache__/
*.pyc
*.pyo
*.log
*.tmp
backup_before_delete_import_*/
文案小程序.py
激活码生成器.py
秘钥生成器.py
秘钥生成器图标.png
秘钥生成器图标.ico
启动激活码生成器.bat
启动激活码生成器.ps1
.venv/
venv/
dist/
build/
_internal/
*.spec
*.exe
秘钥生成器.py
秘钥生成器图标.png
秘钥生成器图标.ico
启动激活码生成器.bat
启动激活码生成器.ps1
